In [31]:
import pandas as pd
from views_pipeline_core.data.country import CountryData

country_data = CountryData()

In [5]:
def read_parquet_file(file_path):
    """
    Reads a Parquet file and returns it as a DataFrame.
    
    :param file_path: The path to the Parquet file.
    :return: A DataFrame containing the data from the Parquet file.
    """
    try:
        df = pd.read_parquet(file_path)
        df = df.reset_index()  # Reset the multi-index to columns
        return df
    except Exception as e:
        print(f"Error reading the Parquet file: {e}")
        return None

In [46]:
df = read_parquet_file("/Users/dylanpinheiro/Desktop/views-platform/views-models/models/brown_cheese/data/generated/predictions_forecasting_20241212_142900.parquet")
df

      month_id  country_id  step_combined
0          539           1       0.000000
1          539           2       0.000000
2          539           3       0.000000
3          539           4       0.018723
4          539           5       0.000000
...        ...         ...            ...
6871       574         242       0.213831
6872       574         243       0.215016
6873       574         244       0.263984
6874       574         245       3.510562
6875       574         246       3.028536

[6876 rows x 3 columns]

In [47]:
# {"step_combined":0.007324081924454064,"month_id":539,"country_id":1}
# {"step_combined":0,"month_id":539,"country_id":2}
# {"step_combined":0,"month_id":539,"country_id":3}
# {"step_combined":0.012125287199087953,"month_id":539,"country_id":4}
# {"step_combined":0,"month_id":539,"country_id":5}
# {"step_combined":0,"month_id":539,"country_id":6}
# {"step_combined":0.07135003879869481,"month_id":539,"country_id":7}
# {"step_combined":0,"month_id":539,"country_id":8}
# {"step_combined":1.5805093350042942,"month_id":539,"country_id":9}
# {"step_combined":0,"month_id":539,"country_id":10}
# {"step_combined":0.13174231407278902,"month_id":539,"country_id":11}
# {"step_combined":0,"month_id":539,"country_id":12}
# {"step_combined":0.22349107750196215,"month_id":539,"country_id":13}
# {"step_combined":0,"month_id":539,"country_id":14}
# {"step_combined":0,"month_id":539,"country_id":16}
# {"step_combined":2.3009641053757517,"month_id":539,"country_id":17}

# get the top n countries with the highest average step_combined by month_id with the step_combined value
n = 5
top_n_countries = df.groupby("country_id")["step_combined"].mean().nlargest(n).index.tolist()
top_n_countries

[117, 79, 120, 220, 57]

In [50]:
country_data.get_country_by_id(79)

Country(country_id=79, name='Nigeria', capname='Abuja', caplong='7,533333', caplat='9,083333', gwcode=475, gwsyear=1961, gwsmonth=6, gwsday=1, gweyear=2050, gwemonth=12, gweday=30, isoname='Nigeria', isonum=566, isoab='NGA', month_start=0, month_end=852, centroidlong='8.105306414519813', centroidlat='9.593960123298968', in_africa=1, in_me=0)

In [60]:
import numpy as np

# get the step_combined values by month_id for a country_id
country_id = 117

step_combined_values = df[df["country_id"] == country_id].set_index("month_id")["step_combined"]
# convert logged values to normal values
step_combined_values = step_combined_values.apply(np.exp)

# replace NaN, inf, -inf with 0
step_combined_values.replace([np.inf, -np.inf], np.nan, inplace=True)
step_combined_values.fillna(0, inplace=True)

# print step_combined_values as a table with month_id and step_combined
step_combined_values = step_combined_values.reset_index().sort_values("month_id").to_dict(orient="records")

step_combined_values

[{'month_id': 539, 'step_combined': 3813.2765416992247},
 {'month_id': 540, 'step_combined': 3952.3379540848427},
 {'month_id': 541, 'step_combined': 1442.3578409285797},
 {'month_id': 542, 'step_combined': 2263.686100560614},
 {'month_id': 543, 'step_combined': 1521.157557487535},
 {'month_id': 544, 'step_combined': 2344.345258267352},
 {'month_id': 545, 'step_combined': 2699.8825075230034},
 {'month_id': 546, 'step_combined': 2712.516925077413},
 {'month_id': 547, 'step_combined': 2338.712006957096},
 {'month_id': 548, 'step_combined': 3556.1736205565994},
 {'month_id': 549, 'step_combined': 3220.2023697149643},
 {'month_id': 550, 'step_combined': 4303.571355569859},
 {'month_id': 551, 'step_combined': 2919.8491190277377},
 {'month_id': 552, 'step_combined': 4217.768186459883},
 {'month_id': 553, 'step_combined': 3591.2458615885957},
 {'month_id': 554, 'step_combined': 2803.3192619032266},
 {'month_id': 555, 'step_combined': 2029.3490054381564},
 {'month_id': 556, 'step_combined': 1850.5422290151027},
 {'month_id': 557, 'step_combined': 2377.5778209950136},
 {'month_id': 558, 'step_combined': 2673.6763411902534},
 {'month_id': 559, 'step_combined': 2255.5687086488642},
 {'month_id': 560, 'step_combined': 3356.2128751347286},
 {'month_id': 561, 'step_combined': 3422.455807627549},
 {'month_id': 562, 'step_combined': 3229.264825593002},
 {'month_id': 563, 'step_combined': 2876.0487823697067},
 {'month_id': 564, 'step_combined': 1976.6344306635033},
 {'month_id': 565, 'step_combined': 657.0191533158638},
 {'month_id': 566, 'step_combined': 118.90908077671254},
 {'month_id': 567, 'step_combined': 113.65984630252258},
 {'month_id': 568, 'step_combined': 66.69370662807002},
 {'month_id': 569, 'step_combined': 59.771022806202026},
 {'month_id': 570, 'step_combined': 32.6552243671687},
 {'month_id': 571, 'step_combined': 16.872255297050085},
 {'month_id': 572, 'step_combined': 32.80288437660643},
 {'month_id': 573, 'step_combined': 21.492020950689547},
 {'month_id': 574, 'step_combined': 39.97434642866364}]

In [79]:
from ingester3.ViewsMonth import ViewsMonth

def postprocess_forecasts(df):
    # exit if country_id column is not present
    if "country_id" not in df.columns:
        raise ValueError("country_id column not found in the DataFrame. Only cm level models supported.")
    n = 5
    df = df.reset_index()
    top_n_countries = df.groupby("country_id")["step_combined"].mean().nlargest(n).index.tolist()
    print(top_n_countries)
    table_str = f"Forecasts for top {n} countries: "
    for country_id in top_n_countries:
        step_combined_values = df[df["country_id"] == country_id].set_index("month_id")["step_combined"]
        # convert logged values to normal values
        step_combined_values = step_combined_values.apply(np.exp)

        # replace NaN, inf, -inf with 0
        step_combined_values.replace([np.inf, -np.inf], np.nan, inplace=True)
        step_combined_values.fillna(0, inplace=True)

        # convert step_combined_values to int and round upwards
        step_combined_values = step_combined_values.apply(np.ceil).astype(int)

        # print step_combined_values as a table with month_id and step_combined
        step_combined_list = step_combined_values.reset_index().sort_values("month_id").to_dict(orient="records")
        table_str += f"\n\n{CountryData().get_country_by_id(country_id).name}:\n"
        table_str += "{:<20} {:<20} {:<30}\n".format("Month", "Year", "Forecasted fatalities")
        table_str += "-" * 70 + "\n"
        for month in step_combined_list:
            month_name = ViewsMonth(month["month_id"]).month
            year = ViewsMonth(month["month_id"]).year
            table_str += "{:<20} {:<20} {:<30}\n".format(month_name, year, month["step_combined"])
    return table_str
table = postprocess_forecasts(df)
print(table)

[117, 79, 120, 220, 57]
Forecasts for top 5 countries:

Ukraine:
Month                Year                 Forecasted fatalities
----------------------------------------------------------------------
11                   2024                 3814
12                   2024                 3953
1                    2025                 1443
2                    2025                 2264
3                    2025                 1522
4                    2025                 2345
5                    2025                 2700
6                    2025                 2713
7                    2025                 2339
8                    2025                 3557
9                    2025                 3221
10                   2025                 4304
11                   2025                 2920
12                   2025                 4218
1                    2026                 3592
2                    2026                 2804
3                    2026                 2030
4                    2026                 1851
5                    2026                 2378
6                    2026                 2674
7                    2026                 2256
8                    2026                 3357
9                    2026                 3423
10                   2026                 3230
11                   2026                 2877
12                   2026                 1977
1                    2027                 658
2                    2027                 119
3                    2027                 114
4                    2027                 67
5                    2027                 60
6                    2027                 33
7                    2027                 17
8                    2027                 33
9                    2027                 22
10                   2027                 40


Nigeria:
Month                Year                 Forecasted fatalities
----------------------------------------------------------------------
11                   2024                 135
12                   2024                 162
1                    2025                 209
2                    2025                 209
3                    2025                 193
4                    2025                 135
5                    2025                 170
6                    2025                 233
7                    2025                 215
8                    2025                 266
9                    2025                 200
10                   2025                 250
11                   2025                 323
12                   2025                 238
1                    2026                 234
2                    2026                 207
3                    2026                 264
4                    2026                 165
5                    2026                 214
6                    2026                 185
7                    2026                 241
8                    2026                 208
9                    2026                 172
10                   2026                 234
11                   2026                 196
12                   2026                 215
1                    2027                 161
2                    2027                 214
3                    2027                 163
4                    2027                 139
5                    2027                 87
6                    2027                 108
7                    2027                 50
8                    2027                 54
9                    2027                 61
10                   2027                 48


Somalia:
Month                Year                 Forecasted fatalities
----------------------------------------------------------------------
11                   2024                 151
12                   2024                 179
1                    2025                 209
2                    2025                 136
3                    2025                 104
4                    2025                 224
5                    2025                 183
6                    2025                 132
7                    2025                 180
8                    2025                 183
9                    2025                 199
10                   2025                 156
11                   2025                 220
12                   2025                 184
1                    2026                 124
2                    2026                 204
3                    2026                 227
4                    2026                 240
5                    2026                 281
6                    2026                 152
7                    2026                 112
8                    2026                 190
9                    2026                 218
10                   2026                 130
11                   2026                 161
12                   2026                 196
1                    2027                 91
2                    2027                 124
3                    2027                 227
4                    2027                 146
5                    2027                 152
6                    2027                 192
7                    2027                 189
8                    2027                 67
9                    2027                 160
10                   2027                 188


Syria:
Month                Year                 Forecasted fatalities
----------------------------------------------------------------------
11                   2024                 112
12                   2024                 103
1                    2025                 102
2                    2025                 108
3                    2025                 113
4                    2025                 110
5                    2025                 128
6                    2025                 111
7                    2025                 100
8                    2025                 114
9                    2025                 99
10                   2025                 129
11                   2025                 131
12                   2025                 137
1                    2026                 95
2                    2026                 98
3                    2026                 86
4                    2026                 98
5                    2026                 135
6                    2026                 130
7                    2026                 119
8                    2026                 119
9                    2026                 122
10                   2026                 118
11                   2026                 112
12                   2026                 106
1                    2027                 80
2                    2027                 123
3                    2027                 116
4                    2027                 111
5                    2027                 143
6                    2027                 158
7                    2027                 144
8                    2027                 156
9                    2027                 200
10                   2027                 190


Ethiopia:
Month                Year                 Forecasted fatalities
----------------------------------------------------------------------
11                   2024                 92
12                   2024                 97
1                    2025                 113
2                    2025                 479
3                    2025                 383
4                    2025                 609
5                    2025                 416
6                    2025                 202
7                    2025                 439
8                    2025                 99
9                    2025                 91
10                   2025                 48
11                   2025                 79
12                   2025                 66
1                    2026                 61
2                    2026                 245
3                    2026                 196
4                    2026                 157
5                    2026                 386
6                    2026                 256
7                    2026                 53
8                    2026                 162
9                    2026                 74
10                   2026                 50
11                   2026                 38
12                   2026                 69
1                    2027                 176
2                    2027                 82
3                    2027                 76
4                    2027                 157
5                    2027                 83
6                    2027                 92
7                    2027                 82
8                    2027                 59
9                    2027                 63
10                   2027                 28